@import "tailwindcss";

/* Base essencial */
html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Fundo estático, cor única, sem flex, sem centralização */
body {
  font-family: var(--font-sans);
  background: #faf7e6;
  margin: 0;
  padding: 0;
  color: #333;
  min-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}



/* #root só ocupa a tela inteira.
   Quem vai mandar no layout daqui pra frente é o App.css + os componentes. */
#root {
  width: 100%;
  height: 100%;
}